
.main{
  max-width: 1080px;
  width: 100%;
  margin: 30px auto 0;
  &__title{
    padding: 0 40px;
  }
  &__form{
    margin-top: 15px;
    border-top: 1px solid #cccccc;
  }
}

.form {
  padding: 25px 60px 20px 70px;
  font-size: 0;
  &__field-wrap{
    vertical-align: bottom;
    max-width: calc(33.333% - 10px);
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  &__checkbox-wrap{
    min-height: 33px;
  }
}
