<header class="header">
    <div class="header__logo">
        <img src="./assets/img/Finverity_logotype_horizontal.svg" alt="Finverity.com">
    </div>
    <div class="header__info">
        <div class="header__call-center-work-time">Наш контакт-центр с 8:00 до 20:00</div>
        <span class="header__call-center-phone">+7 (727) 355-24-24</span>
        <a class="header__call-center-phone mobile-only" href="tel:+77273552424">+7 (727) 355-24-24</a>
    </div>
</header>

<section class="loan-status">
    <ul class="loan-status__steps">
        <li 
            class="loan-status__step-item loan-status__step-item--active"
            [routerLink]="['client-form/client']"
        >
            <div class="loan-status__step-number">1</div>
            <div class="loan-status__step-name">Клиент</div>
        </li>
        <li class="loan-status__step-item" [routerLink]="['client-form/address']" [routerLinkActive]="['active']">
            <div class="loan-status__step-number">2</div>
            <div class="loan-status__step-name">Адрес</div>
        </li>
        <li class="loan-status__step-item" [routerLink]="['client-form/identity']" [routerLinkActive]="['active']">
            <div class="loan-status__step-number">3</div>
            <div class="loan-status__step-name">Подтверждение личности</div>
        </li>
    </ul>
</section>

<section class="main">
    <router-outlet></router-outlet>
</section>