<h1 class="main__title title">Адрес клиента</h1>
<form class="main__form form">
    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Индекс</p>
            <input id="lastname" name="lastname" type="text" class="form-control__field">
            <label for="lastname" class="form-control__placeholder">Индекс</label>
        </div>

    </div>
    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Страна</p>
            <input id="firstname" name="firstname" type="text" class="form-control__field">
            <label for="firstname" class="form-control__placeholder">Страна</label>
        </div>
    </div>
    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Область</p>
            <input id="secondname" name="secondname" type="text" class="form-control__field">
            <label for="secondname" class="form-control__placeholder">Область</label>
        </div>
    </div>

    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Город</p>
            <input id="secondname" name="secondname" type="text" class="form-control__field">
            <label for="secondname" class="form-control__placeholder">Город</label>
        </div>
    </div>

    <div class="form__field-wrap">
        <div class="form-control form-control--error">
            <p class="form-control__info">Улица</p>
            <input id="iin" name="iin" type="text" class="form-control__field">
            <label for="iin" class="form-control__placeholder">Улица</label>
        </div>
    </div>

    <div class="form__field-wrap">
        <div class="form-control form-control--error">
            <p class="form-control__info">Дом</p>
            <input id="iin" name="iin" type="text" class="form-control__field">
            <label for="iin" class="form-control__placeholder">Дом</label>
        </div>
    </div>
</form>
