<h1 class="main__title title">Подтверждение личности</h1>
<form class="main__form form">
    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Серия</p>
            <input id="lastname" name="lastname" type="text" class="form-control__field">
            <label for="lastname" class="form-control__placeholder">Серия</label>
        </div>
        <div class="form__checkbox-wrap"></div>
    </div>
    <div class="form__field-wrap ">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Номер</p>
            <input id="firstname" name="firstname" type="text" class="form-control__field">
            <label for="firstname" class="form-control__placeholder">Номер</label>
        </div>
        <div class="form__checkbox-wrap"></div>
    </div>
    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Кем выдан</p>
            <input id="secondname" name="secondname" type="text" class="form-control__field">
            <label for="secondname" class="form-control__placeholder">Кем выдан</label>
        </div>
    </div>

    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info">Дата выдачи</p>
            <input id="b_date" name="b_date" type="text" class="form-control__field hasDatepicker">
            <label for="b_date" class="form-control__placeholder">Дата выдачи</label>
        </div>
        <div class="form__checkbox-wrap">
        </div>
    </div>
    <div class="form__field-wrap">
        <div class="form-control form-control--filled form-control--success">
            <p class="form-control__info"></p>
            <select id="sex" name="sex" class="form-control__field form-control__field--select">
                <option value="" selected=""></option>
                <option value="0">Женский</option>
                <option value="1">Мужской</option>
            </select>
            <label for="sex" class="form-control__placeholder">Пол</label>
        </div>
    </div>
    <div class="form__field-wrap">
        <div class="form-control form-control--error">
            <p class="form-control__info">Неверный ИИН — причина для отказа в займе. Проверьте, верно ли вы
                ввели номер. Изменить ИИН можно только через контакт-центр Кредит24</p>
            <input id="iin" name="iin" type="text" class="form-control__field">
            <label for="iin" class="form-control__placeholder">ИИН</label>
        </div>
    </div>
</form>
